---
import LayoutPage from "@layouts/LayoutPage.astro";

const datapage = {
    titlePage:"Contáctenos",
    description:" Subtitulo General de productos"
}
console.log(datapage)

const seo = {
	title:datapage.titlePage,
	description: datapage.description,
};


---

<LayoutPage  {seo} titlepage={datapage.titlePage} subtitle={datapage.description}>
	<section class="seccion-base" >
		<div class="container">
			<h3>{datapage.titlePage} Custom</h3>
			<p>{datapage.description}</p>
		</div>
	</section>
</LayoutPage>