---
import LayoutPage from "@layouts/LayoutPage.astro";

const datapage = {
    titlePage:"Servicios",
    description:" Subtitulo General"
}

const seo = {
	title:datapage.titlePage,
	description: datapage.description,
};
---

<LayoutPage   {seo} titlepage={datapage.titlePage} subtitle={datapage.description}>
	<section class="seccion-base pale" >
		<div class="container">
			<h1>{datapage.titlePage} Custom</h1>
			<p>{datapage.description}</p>
		</div>
	</section>
</LayoutPage >